<header>
    <!-- The <i> tag includes the Unicode Black Rook Symbol -->
    <a href="{{url}}"><h1 class = "site-title"><i class = "rook-symbol"></i> Bughouse! </h1></a>

    
  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink"><a href="#">Trending</a></li>
      <li class="navitem navlink"><a href="#">People</a></li>
      <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
      </li>
    </ul>
  </nav>
</header>

<ul class="nav navbar-nav navbar-right">
       <li><a href="#">Sign Up</a></li>
       <li><a href="#">Sign In</a></li>
       <li class="dropdown"><a href="#">More<span class="caret"></span></a></li>
     </ul>