<header>
  <!-- The <i> tag includes the *Unicode* - Black Rook Symbol -->
  <a href="https://bughouse-cs290-sp17.herokuapp.com">
      <div class= "logo">
          <p> &#9812 &#9823 </p> 
          <p> &#9818 &#9817 </p>
      </div>
  </a>
  <a href="https://bughouse-cs290-sp17.herokuapp.com"><h1 id = "site-title">Bughouse. </h1></a>

  <nav class="navbar" id = "main-navbar">
    
    <!-- No navigation other than the title bar/home link is needed as of yet -->
  </nav>
  <div class = box></div>
</header>