<header>
    <!-- The <i> tag includes the Unicode Black Rook Symbol -->
    <a href="{{url}}"><h1 class = "site-title"><i class = "rook-symbol"></i> Bughouse! </h1></a>

    
  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search Sessions...">
        <button type="button" id="navbar-search-button"><i class="knight-symbol"></i></button>
      </li>
    </ul>
  </nav>
</header>