<h1>Example App: Home</h1>
<div id="root"></div>

<script src="lib/socket.io-client/dist/socket.io.js"></script>
<script src="lib/react/dist/react.js"></script>
<script src="lib/react-dom/dist/react-dom.js"></script>
<script src="js/index.js"></script>
