<h1>Bughouse!</h1>
<div>
	<h2>Join a current game</h2>
	<ul>
		{{#each sessions }}
			<li>
				<a href="/session/{{name}}">
					{{ name }}
				</a>
			</li>
		{{else}}
			<p>No games created</p>
		{{/each}}
	</ul>
	<h2>Start a new game</h2>
	<form action="/session" method="POST">
		<input type="text" name="newSessionName" placeholder="Session name" required>
		<input type="submit" value="Start">
	</form>
</div>
