{{> header}}

<h2>Welcome to session: {{ name }}</h2>
<div id="root" class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">

                <div id="board1b">
                    <input type="text" class="form-control player-name" name="player-name" data-position="board1b" placeholder="No player">
                </div>

                <div id="board1"></div>
                <div class="modal"><h3></h3></div>

                <div id="board1w">
                    <input type="text" class="form-control player-name" name="player-name" data-position="board1w" placeholder="No player">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">

                <div id="board2w">
                    <input type="text" class="form-control player-name" name="player-name" data-position="board2w" placeholder="No player">
                </div>

                <div id="board2"></div>
                <div class="modal"><h3></h3></div>

                <div id="board2b">
                    <input type="text" class="form-control player-name" name="player-name" data-position="board2b" placeholder="No player">
                </div>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="/chessboardjs-0.3.0/css/chessboard-0.3.0.css">

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/chessboardjs-0.3.0/js/chessboard-0.3.0.js"></script>
<script src="/lib/chess.js/chess.js"></script>
<script src="/lib/socket.io-client/dist/socket.io.js"></script>
<script src="/lib/react/dist/react.js"></script>
<script src="/lib/react-dom/dist/react-dom.js"></script>
<script src="/js/client/index.js"></script>
<script>
    initSession("/{{name}}");
</script>
