<h1>Welcome to session: {{ name }}</h1>
<div id="root">
	<div id="board1"></div>
	<div id="board2"></div>
</div>

<link rel="stylesheet" href="/chessboardjs-0.3.0/css/chessboard-0.3.0.css">
<link rel="stylesheet" href="/css/site.css">

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/chessboardjs-0.3.0/js/chessboard-0.3.0.js"></script>
<script src="/lib/chess.js/chess.js"></script>
<script src="/lib/socket.io-client/dist/socket.io.js"></script>
<script src="/lib/react/dist/react.js"></script>
<script src="/lib/react-dom/dist/react-dom.js"></script>
<script src="/js/client/index.js"></script>
<script>
	initSession("/{{name}}");
</script>
